h1 {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
    margin: 25px auto;
}

.grid-item {
    border: solid 1px;

}

.onHover {
    background-color: aqua;
}

