/** Global Selectors */
body {
    background-color: #4b7bec;
    font-family: 'Kaushan Script', cursive;
}

button {
    margin: 0px 5px 0px;
    font-family: 'Roboto', sans-serif;
    
}

form {
    display: inline-block;
}

h1 {
    font-size: 65px;
    text-align: center;
    padding: 50px 0 50px;
    color: #e00e1a;
}

input {
    width: 50px;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0px 5px 0px;
    display: inline-block;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

/**Brush elements*/
.paintBrush {
    width:30px;
    height:30px; 
    border-radius: 100%;
    margin: 0px 1px 0px ;
    border: solid 1px ;
    border-color: #fff;
}

#eraserBrush{
    background-color: #fff;
}

#blackBrush{
    background-color: #000000;
}

/* #shaderBrush{
    background: linear-gradient(to bottom, #ffffff 0%, #003300 100%);
} */

#multiColoredBrush{
    background-image: url("images/mcolored2.PNG");
}


/* *CSS Grid elements */
#gridBox {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    margin: 25px auto;
    padding: 0px  ;
    height: 800px;
    width: 800px;
    border: solid 50px;
    border-color: #eb3b5a ;
    border-radius: 15px;
}

.grid-item {
    background-color: #fff;
    border: solid 1px;
    border-color: #4b7bec;
}
