/** Global Selectors */
body {
    background-color: #92DCE5;
}

button {
    margin: 10px 10px 10px;
}

form {
    display: inline-block;
}

h1 {
    text-align: center;
    padding: 25px;
    color: #7c7c7c;
}

input {
    width: 200px;
}

p {
    padding: 5px;
    display: inline-block;
}

/* *Container Elements */
/* .buttonElements {
    /* width: 2000px; */
/* } */ 


/* *CSS Grid elements */
#gridBox {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    margin: 5px auto;
    padding: 50px;
    height: 600px;
    width: 600px;
}

.grid-item {
    background-color: #fff;
    border: solid 1px;
}

.onHover {
    background-color: black;
}